#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    text-align: center;
    background: rgb(0,212,255);
background: radial-gradient(circle, rgba(0,212,255,1) 31%, rgba(255,255,255,0) 47%, rgba(9,9,121,1) 71%);
}
#button1:hover{
    background-color: darkgreen;
}